<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-16">
                <div class="row">
                    <% listvm.forEach(function(vm) { %>
                    <div class="col-md-4">
                        <div class="thumbnail" id="<%= vm._id %>">
                            <img alt="Bootstrap Thumbnail First" src="images/téléchargement.png">
                            <div class="caption">
                                <h3>
                                    <%= vm.name %>
                                </h3>
                                <p>
                                <ul >
                                    <li id="ip"> <%= vm.ipadresse %></li>
                                    <li id="name"> <%= vm.username %></li>
                                    <li> <%= vm.os %></li>
                                    <li> <%= vm.cpu %> Ghz</li>
                                    <li> <%= vm.Ram %> GB</li>
                                    <li> <%= vm.harddisk %> GB</li>
                                </ul>
                                </p>
                                <p>
                                    <button type="button" id="btn_preconnect" data-toggle="modal" data-target="#myModal" name="<%=vm._id%>" class="btn btn_preconnect btn-primary btn-default btn-round">Connect </button>
                                </p>
                            </div>
                        </div>
                    </div>
                      <%  });%>

                </div>
            </div>
        </div>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label> IP</label>
                            <br>
                            <label id="ip_pop"></label>
                            <br>
                            <label> Username:</label>
                            <br>
                            <label id="user_pop"></label>
                            <br>
                            <label>
                                Password
                            </label>
                            <input type="password" class="form-control" id="password-pop" name="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn_connect" class="btn btn-primary">Connect</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>